{% extends "layout.html" %}
{% block heading %}
<script>
  // Load cstored username and channel
  document.addEventListener('DOMContentLoaded', () => {
    if (localStorage.getItem('userschannel_localstore') || localStorage.getItem('username_localstore')){
        let ch = localStorage.getItem('userschannel_localstore');
        let user = localStorage.getItem('username_localstore');
        window.location.href = '/recalluser?chname='+ch+'&user='+user;
      }
  });

</script>

<div class="container" style="margin-top: 50px">
  <div class="heads">
      <h3>Welcome to flonck!</h3>
      <h6>(a Slack-like clone)<h6>
      </div>
{% endblock %}

{% block body %}


  <div class="container">
    <div class="heads">
      <h5>Login:</h5>
        <form action="{{ url_for('login') }}" method="post">
            <p><input type="text" class="form-control" name="username" placeholder="username"></p>
            <p><button class="btn btn-danger">Login</button></p>
        </form>
  </div>
</div>
</div>


{% endblock %}
