{% extends "layout.html" %}
{% block heading %}
<script>
  // Load cstored username and channel
  document.addEventListener('DOMContentLoaded', () => {
    if (localStorage.getItem('userschannel_localstore') || localStorage.getItem('username_localstore')){
        let ch = localStorage.getItem('userschannel_localstore');
        let user = localStorage.getItem('username_localstore');
        window.location.href = '/recalluser?chname='+ch+'&user='+user;
      }
  });

  document.body.style.backgroundColor = "#042763";

</script>

<div class="container" style="margin-top: 50px">
  <div class="heads">
      <h4>Welcome to flocketIO!</h4>
      <h6>(a flask chat app with sockets...)<h6>
  </div>
{% endblock %}

{% block body %}

  <div class="container">
    <div class="heads">
      <h5>Login:</h5>
        <form action="{{ url_for('login') }}" method="post">
            <p><input type="text" class="form-control" name="username" placeholder="username" minlength="3"></p>
            <p><button class="btn btn-info">Login</button></p>
        </form>
  </div>
</div>
</div>


{% endblock %}
